# Ignore everything
*

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the .github directory
!.github/
!.github/**

# Do not ignore all .org files
!*.org

# Do not ignore all .png files
!*.png
