# Ignore everything
*

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the .github directory
!.github/
!.github/**

!org-files/
!org-files/*.org
!org-files/*.db
!org-files/*.bib

!*.org
!*.bib
!*.db
README.md
!*.png
